aside.left-sidebar
  //- Sidebar scroll
  div
    .brand-logo.d-flex.align-items-center.justify-content-between
      a.text-nowrap.logo-img(href="/dashboard" style="text-decoration: none;")
        .d-flex.align-items-center.gap-2.py-2
          i.ti.ti-box.fs-8.text-primary
          h4.fw-bold.mb-0.text-dark INVENTARIS LAB
      #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
        i.ti.ti-x.fs-6

    //- Sidebar navigation
    nav.sidebar-nav.scroll-sidebar(data-simplebar="")
      ul#sidebarnav
        li.nav-small-cap
          iconify-icon.nav-small-cap-icon.fs-4(icon="solar:menu-dots-linear")
          span.hide-menu Utama
        
        li.sidebar-item
          a.sidebar-link(href="/dashboard" aria-expanded="false")
            i.ti.ti-layout-dashboard
            span.hide-menu Dashboard

        if user && user.role === 'Kepala Laboratorium'
          li.nav-small-cap
            iconify-icon.nav-small-cap-icon.fs-4(icon="solar:menu-dots-linear")
            span.hide-menu Pengadaan & Penerimaan
            
          li.sidebar-item
            a.sidebar-link(href="/procurement-drafts" aria-expanded="false")
              i.ti.ti-file-description
              span.hide-menu Draf Pengadaan
        
        if user && user.role === 'Ketua Program Studi'
          li.nav-small-cap
            iconify-icon.nav-small-cap-icon.fs-4(icon="solar:menu-dots-linear")
            span.hide-menu Validasi Pengadaan
          li.sidebar-item
            a.sidebar-link(href="/procurement-drafts-history" aria-expanded="false")
              i.ti.ti-file-check
              span.hide-menu Review Pengadaan

        if user && user.role === 'Staf Administrasi'
          li.nav-small-cap
            iconify-icon.nav-small-cap-icon.fs-4(icon="solar:menu-dots-linear")
            span.hide-menu Administrasi Pengadaan
          li.sidebar-item
            a.sidebar-link(href="/administration/procurement-items" aria-expanded="false")
              i.ti.ti-list-details
              span.hide-menu Item Pengadaan
          li.sidebar-item
            a.sidebar-link(href="/administration/procurements" aria-expanded="false")
              i.ti.ti-clipboard-list
              span.hide-menu Penerimaan Barang
          li.sidebar-item
            a.sidebar-link(href="/administration/inventories" aria-expanded="false")
              i.ti.ti-qrcode
              span.hide-menu Input Inventaris
        
        if user && user.role === 'Administrator'
          li.nav-small-cap
            iconify-icon.nav-small-cap-icon.fs-4(icon="solar:menu-dots-linear")
            span.hide-menu Administrasi
            
          li.sidebar-item
            a.sidebar-link(href="/users" aria-expanded="false")
              i.ti.ti-users
              span.hide-menu Daftar Pengguna
              
          li.sidebar-item
            a.sidebar-link(href="/rooms" aria-expanded="false")
              i.ti.ti-door
              span.hide-menu Kelola Ruangan
